In [45]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
df_08=pd.read_csv('data_08_v2.csv')
df_18=pd.read_csv('data_18_v2.csv')
print('doneeee')

doneeee

In [46]:
df_08['cyl'].value_counts()

(6 cyl)     409
(4 cyl)     283
(8 cyl)     199
(5 cyl)      48
(12 cyl)     30
(10 cyl)     14
(2 cyl)       2
(16 cyl)      1
Name: cyl, dtype: int64

In [51]:
df_08['cyl'] = df_08['cyl'].str.extract('(\d+)').astype(int)

In [52]:
df_08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 986 entries, 0 to 985
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   model                 986 non-null    object
 1   displ                 986 non-null    float64
 2   cyl                   986 non-null    int64
 3   trans                 986 non-null    object
 4   drive                 986 non-null    object
 5   fuel                  986 non-null    object
 6   veh_class             986 non-null    object
 7   air_pollution_score   986 non-null    object
 8   city_mpg              986 non-null    object
 9   hwy_mpg               986 non-null    object
 10  cmb_mpg               986 non-null    object
 11  greenhouse_gas_score  986 non-null    object
 12  smartway              986 non-null    object
dtypes: float64(1), int64(1), object(11)
memory usage: 100.3+ KB

In [43]:
df_18['cyl'] = df_18['cyl'].astype(int)

In [34]:
df_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 794 entries, 0 to 793
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   model                 794 non-null    object
 1   displ                 794 non-null    float64
 2   cyl                   794 non-null    int64
 3   trans                 794 non-null    object
 4   drive                 794 non-null    object
 5   fuel                  794 non-null    object
 6   veh_class             794 non-null    object
 7   air_pollution_score   794 non-null    int64
 8   city_mpg              794 non-null    object
 9   hwy_mpg               794 non-null    object
 10  cmb_mpg               794 non-null    object
 11  greenhouse_gas_score  794 non-null    int64
 12  smartway              794 non-null    object
dtypes: float64(1), int64(3), object(9)
memory usage: 80.8+ KB

In [44]:
df_08.to_csv('data_08_v3.csv', index=False)
df_18.to_csv('data_18_v3.csv', index=False)