In [23]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
df_08=pd.read_csv('data_08_v4.csv')
df_18=pd.read_csv('data_18_v4.csv')
print('doneeee')

doneeee

In [29]:
df_08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 987 entries, 0 to 986
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   model                 987 non-null    object
 1   displ                 987 non-null    float64
 2   cyl                   987 non-null    int64
 3   trans                 987 non-null    object
 4   drive                 987 non-null    object
 5   fuel                  987 non-null    object
 6   veh_class             987 non-null    object
 7   air_pollution_score   987 non-null    float64
 8   city_mpg              987 non-null    float64
 9   hwy_mpg               987 non-null    float64
 10  cmb_mpg               987 non-null    float64
 11  greenhouse_gas_score  987 non-null    int64
 12  smartway              987 non-null    object
dtypes: float64(5), int64(2), object(6)
memory usage: 100.4+ KB

In [30]:
df_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 758 entries, 0 to 757
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   model                 758 non-null    object
 1   displ                 758 non-null    float64
 2   cyl                   758 non-null    int64
 3   trans                 758 non-null    object
 4   drive                 758 non-null    object
 5   fuel                  758 non-null    object
 6   veh_class             758 non-null    object
 7   air_pollution_score   758 non-null    float64
 8   city_mpg              758 non-null    float64
 9   hwy_mpg               758 non-null    float64
 10  cmb_mpg               758 non-null    float64
 11  greenhouse_gas_score  758 non-null    int64
 12  smartway              758 non-null    object
dtypes: float64(5), int64(2), object(6)
memory usage: 77.1+ KB

In [26]:
df_18['city_mpg'] = df_18['city_mpg'].astype(float)
df_08['city_mpg'] = df_08['city_mpg'].astype(float)

In [27]:
df_18['hwy_mpg'] = df_18['hwy_mpg'].astype(float)
df_08['hwy_mpg'] = df_08['hwy_mpg'].astype(float)

In [28]:
df_18['cmb_mpg'] = df_18['cmb_mpg'].astype(float)
df_08['cmb_mpg'] = df_08['cmb_mpg'].astype(float)

In [31]:
df_08.to_csv('clean_08.csv', index=False)
df_18.to_csv('clean_18.csv', index=False)